header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-left: 10px;
    color: white;
    z-index: 1000;
  }


.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

nav a {
  font-size: 24px;
  color: white;
  }

.navbar-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

